# Blacklist everything
*
# Whitelist only wanted files
!.bash_profile
!.bashrc
!.gitignore
!.inputrc

# Bashrc module directory and all its contents
!.bashrc.d/
!.bashrc.d/*

# Custom scripts and libraries
!.local/
!.local/bin/
!.local/bin/check-configs
!.local/bin/pull-configs
!.local/bin/push-configs
!.local/lib/
!.local/lib/sh/
!.local/lib/sh/*

# OS-specific bashrc
!.osrc/
!.osrc/*
