[submodule ".bash"]
	path = .bash
	url = git@github.com:DreamyK9/.bash.git
[submodule ".nvim"]
	path = .nvim
	url = git@github.com:DreamyK9/.nvim.git
[submodule ".windows_terminal"]
	path = .windows_terminal
	url = git@github.com:DreamyK9/.windows_terminal.git
